* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background: rgb(0,150,135);
    background: linear-gradient(180deg, rgba(0,150,135,1) 15%, rgba(218,219,213,1) 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 780px;
    width: 1400px;
    display: block;
    box-shadow: 0px 0px 12px -4px black;;
}

/* header */

header{
    height: 8%;
    display: flex;
}

.header-left {
    background-color: #ededed;
    width: 30%;
    height: 100%;
    border-right: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
}

.profile {
    padding: 10px;
    margin-left: 7px;
    width: 20%
}

.profile img {
    border-radius: 50%;
    height: 100%;
    width: 70%;
}

.action-menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.action-menu ul {
    margin-right: 20px;
}

.action-menu ul li{
    display: inline;
    margin: 0px 15px;
    color: #979797;
    font-size: 20px;
    cursor: pointer;
}

.header-right  {
    background-color: #ededed;
    width: 70%;
    height: 100%;
    display: flex;
}

.contact {
    height: 100%;
    width: 30%;
    display: flex;
}

.contact-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 0px;
}

.contact-access {
    color: #5f5f5f;
    font-size: 12px;
}
/* /header */
/* aside */
aside {
    height: 92%;
    width: 30%;
    float: left;
    border-right: 1px solid #e1e1e1;
}

.search {
    height: 6%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search input {
    height: 75%;
    padding-left: 60px;
    width: 93%;
    border-radius: 15px;
    border: 0px;
}

.search input::placeholder {
    color: #999999;
}

.search input:focus {
    outline: none;
}

.search i {
    position: absolute;
    left: 25px;
    color: #999999;
    opacity: 40%;
}

.notification {
    height: 10%;
    background-color: #8ed9fc;
    display: flex;
}

.notification:hover {
    cursor: pointer;
}

.notification-icon {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification i {
    color: #8ed9fc;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 12px 9px;
    font-size: 24px;
}

.notification-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notification-text span {
    font-size: 14px;
}

.notification-text a {
    font-size: 13px;
    padding-top: 5px;
    color: #5f5f5f;
}

.chat-list {
    height: 84%;
    overflow-y: scroll;
}

.chat-list-element {
    background-color: #ffffff;
    height: 12%;
    display: flex;
    align-items: center;
}

.chat-list-element:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.active {
    background-color: #ebebeb;
}

.active:hover {
    background-color: #ebebeb;
}

.element-image {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-image img {
    height: 70%;
    width: 50%;
    border-radius: 50%;
}

.element-main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    border-bottom: 1px solid #f5f5f5;
}

.element-content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.element-clock span {
    font-size: 12px;
    color: #5f5f5f;
    opacity: 60%;
}

.active .element-main .element-message span {
    opacity: 100%;
}

.element-message {
    width: 100%;
    height: 50%;
}

.element-message span {
    font-size: 15px;
    color: #5f5f5f;
    opacity: 50%;
}
/* /aside */
/* section */
section {
    height: 84%;
    background-image: url("img/wallpaper.jpg");
    background-repeat: repeat;
    background-size: contain;
    margin-left: 30%;
    padding: 25px;
    overflow-y: scroll;
    display: none;
}

.section-active {
    display: block;
}

.row-white {
    width: 100%;
}

.white {
    background-color: #ffffff;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    max-width: 60%;
    display: inline-block;
    text-align: left;
}

.white span{
    font-size: 14px;
}

.row-green {
    width: 100%;
    text-align: right;
}

.green {
    background-color: #dcf8c6;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    max-width: 60%;
    display: inline-block;
    text-align: left;
}

.green span {
    font-size: 14px;
}

/* /section */
/* footer */
footer {
    height: 8%;
    background-color: #f0f0f0;
    width: 70%;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer input {
    height: 70%;
    padding-left: 20px;
    width: 93%;
    border-radius: 40px;
    border: 0px;
    position: relative;
}

footer input:focus {
    outline: none;
}

footer .far {
    padding: 0px 20px;
    font-size: 25px;
    color: #979797
}

footer .fas {
    padding: 0px 20px;
    font-size: 25px;
    color: #979797;
    display: none;
}

footer .active {
    display: inline-block;
}

footer i:hover {
    cursor: pointer;
}
/* /footer */
.template {
    display: none;
}
